**Introduction to formatting .xlsx files in python**

For this example we're going to get data from the City of London Government website.  This example will illustrate using custom formats in sheets, in charts and we'll cover how to use conditional outputs.

https://data.london.gov.uk/dataset/workforce-jobs

**Step 1**
Let's download the data

In [ ]:
from google.colab import files
import io
import pandas as pd
#This creates a dialog box for you to upload a CSV file dowlnloaded from London Gov Website. 
upload = files.upload()
df = pd.read_csv(io.StringIO(upload['workforce-jobs-ons.csv'].decode('utf-8')))
df

Saving workforce-jobs-ons.csv to workforce-jobs-ons.csv

       date    area  total_workforce_jobs  employee_jobs  self_employment_jobs
0    Mar-05      UK              31356985       27579660               3493495
1    Jun-05      UK              31403800       27625580               3501806
2    Sep-05      UK              31541152       27730717               3533639
3    Dec-05      UK              31628586       27784245               3569405
4    Mar-06      UK              31708853       27831410               3607458
..      ...     ...                   ...            ...                   ...
117  Mar-19  London               6105177        5300533                797732
118  Jun-19  London               6070558        5323508                738301
119  Sep-19  London               6053568        5259848                786221
120  Dec-19  London               6134150        5304787                821258
121  Mar-20  London               6144464        5350797                782640

[122 rows x 5 columns]

**Introduction to formatting .xlsx files in python (cont'd)**

**Step 2**

Now with the input data we'll try to create the Data tab on the .xlsx file.  We'll use the xlsxwriter format class and we'll use the merge_range() method and some other common methods in the worksheet class.

Xlsxwriter docs on the Format class:
https://xlsxwriter.readthedocs.io/format.html

In [ ]:
!pip install xlsxwriter
import xlsxwriter
import pandas as pd

df_london = df.loc[df['area'] == 'London']
df_uk = df.loc[df['area'] == 'UK']
 
wb = xlsxwriter.Workbook('workforce-jobs.xlsx')
formatBold = wb.add_format({'bold': True, 'align': 'vcenter'}) 
formatUnderline = wb.add_format({'bottom': 1, 'align': 'center'})
formatNum = wb.add_format({'num_format': '#,##0'})
ws = wb.add_worksheet('Data')
ws.merge_range('B1:G1', 'Numbers', formatUnderline)
ws.merge_range('B2:C2', 'Total workforce jobs', formatBold)
ws.merge_range('D2:E2', 'Employee jobs', formatBold)
ws.merge_range('F2:G2', 'Self-employment jobs', formatBold)
ws.write('A2', 'Date', formatBold)
ws.write('B3', 'UK', formatBold)
ws.write('C3', 'London', formatBold)
ws.write('D3', 'UK', formatBold)
ws.write('E3', 'London', formatBold)
ws.write('F3', 'UK', formatBold)
ws.write('G3', 'London', formatBold)

ws.write_column('A4', df_uk['date'])
ws.write_column('B4', df_uk['total_workforce_jobs'], formatNum)
ws.write_column('C4', df_london['total_workforce_jobs'], formatNum)
ws.write_column('D4', df_uk['employee_jobs'], formatNum)
ws.write_column('E4', df_london['employee_jobs'], formatNum)
ws.write_column('F4', df_uk['self_employment_jobs'], formatNum)
ws.write_column('G4', df_london['self_employment_jobs'], formatNum)
  
ws.freeze_panes(3, 1)
ws.set_row(1, 28)
wb.close()

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.6/dist-packages (1.3.3)